html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
    background: url("space.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.orbit {
    display: inline-block;
    position: relative;
    margin-top: 3%;
    width: 500px;
    height: 500px;
    border: 2px solid white;
    border-radius: 100%;
    animation: spin 6s linear infinite;
    z-index: 1;
}

.orbit:hover {
    animation-play-state: paused;
}

.mars {
    display: inline-block;
    position: relative;
    margin-top: -5%;
    background: red;
    width: 10%;
    height: 10%;
    border-radius: 100%;
}

.mars:hover {
    transition: transform .5s linear;
    transform: scale(1.2);
}

@keyframes spin {
    from {transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}

.sun {
    position: absolute;
    top:30%;
    left:43%;
    background: yellow;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    z-index: 2;
}